<header class="site-header">
    <div class="container">
      <nav class="site-nav">
        <ul class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8">
          <a href="{{ '/' | relative_url }}" class="logo">
            Aarón Docman
          </a>
          <li><a href="{{ '/notas/' | relative_url }}">Notas</a></li>
          <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
          <li><a href="{{ '/ensayos/' | relative_url }}">Ensayos</a></li>
          <li><a href="{{ '/proyectos/' | relative_url }}">Proyectos</a></li>
          <li><a href="{{ '/acerca/' | relative_url }}">Acerca</a></li>
          <li><a href="{{ '/newsletter/' | relative_url }}">Newsletter</a></li>
          <li><a href="{{ '/social/' | relative_url }}">Social</a></li>
        </ul>
      </nav>
    </div>
  </header>
  