---
layout: default
title: Social
permalink: /social/
---
<section class="social-links">
    <h1>Conecta conmigo</h1>
    <ul>
      <li><a href="https://www.instagram.com/adocman" target="_blank">Instagram</a></li>
      <li><a href="https://www.tiktok.com/@adocman" target="_blank">TikTok</a></li>
      <li><a href="https://www.youtube.com/@adocman" target="_blank">YouTube</a></li>
      <li><a href="https://bsky.app/profile/adocman.bsky.social" target="_blank">Bluesky</a></li>
      <li><a href="https://adocman.github.io/" target="_blank">Blog</a></li>
      <li><a href="https://www.linkedin.com/in/adocman/" target="_blank">LinkedIn</a></li>
      <li><a href="https://ko-fi.com/adocman" target="_blank">Ko-fi</a></li>
    </ul>
  </section>
  